.container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1fr; 
  grid-template-rows: 0.3fr 1fr 1fr;
  gap: 100px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo titulo titulo"
    "sideBar main main"
    "sideBar main main";
}

.titulo {
  grid-area: titulo;
  background-color: black;


}
.textTitulo {
    color: black;
  left: 50%;
  position: absolute;

  margin-top: 20px;

  transform: translate(-50%, -50%);
}
.sideBar {
  grid-area: sideBar;
  border: 15px, solid, black;
}
.main {
    justify-self: stretch; 
    align-self: stretch; 
    grid-area: main; 
}

